img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

body{
    background-color: #251a16;
}

header{
    background-color: #462201;
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
    float: right;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style: none;
    background: #462201;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display:block;
    padding: 30px 72.4px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    }
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: rgb(177, 54, 46);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background: rgb(177, 54, 46);
}
ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown :hover{
    background: black;


}



